@media (max-width: 1440px) {
    .container{
        width: 90%;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
    .hero-title h1 {
        font-size: 33px;
    }
    .hero-title  p {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .header-nav  {
        display:none;
    }
    .hero {
        flex-direction: column;
    }
    .hero-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    .block {
        flex-direction: column;
    }
    .h1-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
    }
    .title p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .title p {
       font-size: 12px;
    }
}
@media (max-width: 576px) {
        .hero img {
            width: 90%;
        }
    .block img {
        width: 90%;
    }
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .title {
        margin-bottom: 20px;
    }
    .Contact {
        width: 90%;

    }
    .h1-about h1 {
        font-size: 23px;
    }
    .h1-about p {
        font-size: 15px;
    }
    .h2-about h1 {
        font-size: 23px;
    }
    .h2-about p {
        font-size: 15px;
    }
}
@media (max-width: 451px) {
    .block p {
        font-size: 12px;
    }
    .Contact {
        width: 90%;
       flex-direction: column;
        align-items: flex-start;
    }
    .h2-about {
        margin-bottom: 20px;
    }
}
@media (max-width: 400px) {
    .hero-title h1 {
        font-size: 28px;
    }
    .hero-title p {
        font-size: 13px;
    }
    .block h1 {
        font-size: 28px;
    }
    .block p {
        font-size: 11px;
    }
   .module h1 {
       font-size: 16px;
   }
}
@media (max-width: 376px) {
    .hero-title h1 {
        font-size: 25px;
    }
    .block h1 {
        font-size: 21px;
    }
    .block p {
        font-size: 10px;
    }
    .module h1 {
        font-size: 15px;
    }
    .header img {
        width: 27%;
    }
    .header-icon a {
        font-size: 18px;
    }
    .hero-btn  {
        width: 129px;
        height: 39px;
    }
    .btn-left {
        width: 129px;
        height: 39px;
    }
}
@media (max-width: 320px) {
    .hero-title h2 {
        font-size: 20px;
    }
    .hero-title p {
        font-size: 11px;
    }
    .block p {
        font-size: 9px;
    }
    .module h1 {
        font-size: 13px;
    }
}